header {
  height: 60px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(32, 32, 64, 0.4) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-bottom: 1px solid #333;
}

#logo {
  text-align: center;
  font-size: 3em;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

#buttons {
  text-align: right;
}

#feedback {
  padding: 5px 15px;
  background: linear-gradient(
    225deg,
    rgba(64, 64, 128, 0.4) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border: 1px solid #ccf;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}
