:root {
  --black: #000000;
  --white: #ffffff;
  --burgundy: #9c2d41;
  --grid-base: 8px;
  --font-4: 4px;
  --font-8: 8px;
  --font-12: 12px;
  --font-16: 16px;
  --font-24: 24px;
  --font-32: 32px;
  --font-48: 48px;
  --font-64: 64px;
  --font-96: 96px;
  --font-128: 128px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--white);
}

html {
  font-size: var(--font-16);
  line-height: var(--font-16);
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  min-width: 320px;
  max-width: 1264px; /* as recommended by https://uxdesign.cc/responsive-layout-grid-guide-for-designers-c3ba7d161bdf */
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 320px) {
  header,
  .content {
    padding: 0 calc(var(--grid-base) * 1);
  }
}

@media (min-width: 321px) and (max-width: 655px) {
  header,
  .content {
    padding: 0 calc(var(--grid-base) * 2);
  }
}

@media (min-width: 656px) and (max-width: 1023px) {
  header,
  .content {
    padding: 0 calc(var(--grid-base) * 5);
  }
}

@media (min-width: 1024px) and (max-width: 1392px) {
  header,
  .content {
    padding: 0 calc(var(--grid-base) * 8);
  }
}

h1 {
  font-size: var(--font-48);
  line-height: var(--font-48);
}

h2 {
  font-size: var(--font-24);
  line-height: var(--font-24);
}

/* S */
@media (min-width: 360px) and (max-width: 655px) {
}

/* M */
@media (min-width: 656px) and (max-width: 1023px) {
}

/* L */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* XL */
@media (min-width: 1280px) and (max-width: 1440px) {
}

/* XXL */
@media (min-width: 1440px) {
}
