body {
  background: radial-gradient(#202046, #000000);
}

/* Hero */
#hero-wrapper {
  padding: 40px 20px;
  text-align: center;
}

/* CTA */
#cta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: calc(var(--grid-base) * 2);
  padding: calc(var(--grid-base) * 4);
}

#cta-headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.25em;
}

#cta-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--grid-base) * 2);
}

#cta-input {
  border-radius: 20px;
  font-size: 1em;
  padding: 0 10px;
}

#cta-action {
  background: linear-gradient(180deg, #d0d0f0, #9090e0);
  border: 2px solid #33f;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 1em;
  color: #000;
  font-weight: 600;
}

#cta-action:hover {
  background: linear-gradient(180deg, #9090e0, #111);
  border: 2px solid #303090;
  color: white;
}

/* Benefits */
#benefits-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefit {
  padding: 10px;
  display: flex;
  align-items: center;
}

/* How it works */
#how-it-works-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Footer */
#footer {
  text-align: center;
}
